<div class ="foot">
  <div class="ft">
    <div class="footer text-center">
        <p>By Deepak L. Karna</p>
        <p>© TECHRISE <%= Date.today.year %> All Rights Reserved</p>
    </div>
  </div>
</div>