<div class="navbar-header">
  <div class="navbar-default">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">Financer</a>
  </div><!-- navbar-default -->
</div><!-- navbar-header -->

<div class="static">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
            <li class="1"><%= link_to 'All Finances', root_path %></li>
            <li class="2"><%= link_to 'New Record', newrecord_path %></li>
        </ul>
    </div><!-- /.navbar-collapse -->
</div><!-- static -->